- if @comment.errors.any?
  - @comment.errors.full_messages.each do |msg|
    toastr.error("#{escape_javascript (msg)}", "", {"positionClass": "toast-bottom-center"});
- else
  toastr.success("#{escape_javascript (flash[:success])}", "", {"positionClass": "toast-bottom-center"});
  $("#comments-list").prepend($("#{escape_javascript (render @comment)}").hide().delay(500).show('slow')); 
  $("#comment_text").val('');