.shadow
	.hoverCard
		%form
			.cross
			.createText
				%label= t('.title')
				%input{name: 'title', placeholder: t('.title'), type: 'text'}/
			.submitButton
				%span= t('.create')
= javascript_pack_tag 'userpanel/create_collection', 'data-turbolinks-track': 'reload'
