.shadow
	.hoverCard
		%form
			.cross
			.createText
				%label Title
				%input{name: 'title', placeholder: 'Title', type: 'text'}/
			.submitButton
				%span create
= javascript_pack_tag 'userpanel/create_collection', 'data-turbolinks-track': 'reload'
