%h1= t('.collections')
.collection-container
	#collectionButton
		%span= t('.createNewCollection')
	:erb
		<%- @collections.each do |col|%>
			<%= render partial:'collections/userpanel_collection', object: col, as: 'collection'%>
		<%end%>
.padding-element
= javascript_pack_tag 'userpanel/show_collections', 'data-turbolinks-track': 'reload'
