%h1 Images
= form_for @image, :html => {:class => "dropzone", :id=>'upload'} do |f|
	.fallback
		= f.file_field :image_file, direct_upload: true
.img-container
	:erb
		<%- @images.each do |partial_image| %>
			<%= render partial:'images/userpanel_image', object: partial_image, as: 'image'%>
		<%end%>
= javascript_pack_tag 'userpanel/show_img', 'data-turbolinks-track': 'reload'
