- unless session[:session_id].nil?
  %input{:type=>"hidden", :value=>session[:session_id], :name=>:session_id}
  #rating
    - user_rate = (@image.get_rate(session[:session_id])&.rating) || 0
    - (1..5).each do |i|
      %i{:class => "rating-star bi bi-star" + (user_rate >= i ? "-fill" : ""), id: "star_#{i}", "data-rateable-type": "Image", "data-rateable-id": "#{@image.id}", "data-stars": "#{i}"}
- else 
  Please activate cookies to rate!