- unless session[:session_id].nil?
  %input{:type=>"hidden", :value=>session[:session_id], :name=>:session_id}
  %ul#rating
    - user_rate = (@image.get_rate(session[:session_id])&.rating) || 0
    - (1..5).each do |i|
      - puts(user_rate)
      %li{class: "rating-star" + (user_rate >= i ? " star-active" : " star-inactive"), id: "star_#{i}", "data-rateable-type": "Image", "data-rateable-id": "#{@image.id}", "data-stars": "#{i}"}
        Star!
- else 
  Please activate cookies to rate!