%p#score-area{:style => (locals[:rateable].get_ratings.count > 0 ? "" : "display:none;")}
  Rating: 
  %span#score= locals[:rateable].get_score.round(1)
  \&nbsp;Number of ratings: 
  %span#nr-ratings= locals[:rateable].get_ratings.count
