- # This right here might be the ugliest code I have ever written
%p#score-area{
	style: (locals[:rateable].get_ratings.count > 0 ? "" : "display:none;")
}
	%span#score= locals[:rateable].get_score.round(1)
	= raw "\&nbsp;" + t(".stars_from") + "\&nbsp;"
	%span#nr-ratings= locals[:rateable].get_ratings.count
	= raw "\&nbsp;" + t(".ratings", count: locals[:rateable].get_ratings.count)
