%h3 details
.changeBox
	:erb
		<% @details.each do |attr_name, attr_val| %>
			<div class='changeProp'>
			<span><%= attr_name %></span>
			<input class="<%='edit_'+attr_name%> " value="<%=attr_val%>"/>
			</div>
		<%end%>
	-# I do not know why but haml just prints a string representationt of the @detail object at the end of the each function...
	-# why?! i did not order that. just used the ERB Filter one, it does what it's supposed to
	-# =  @details.each do | attr_name, attr_val|
	-# .changeProp
	-# = attr_name
	-# %input{type: 'text', value: attr_val, class: 'attr_edit_'+attr_name.to_s}/
.deleteButton
	= link_to 'Destroy', @image, method: :delete
:javascript
	//setup before functions
	var typingTimer //timer identifier
	var doneTypingInterval = 2000 //time in ms

	$('[class^=edit]').on('keyup', () => {
		clearTimeout(typingTimer)
		typingTimer = setTimeout(updateImage, doneTypingInterval)
	})
	$('[class^=edit]').on('keydown', function () {
		clearTimeout(typingTimer)
	})

	function updateImage() {
		let img_info = {
			title: $('.edit_title ').val(),
			description: $('.edit_description').val(),
			created_at: $('.edit_created_at').val(),
			updated_at: $('.edit_updated_at').val(),
		}
		console.log(img_info)
		$.ajax({
			url: '/images/' + '#{@image.id}',
			type: 'PUT',
			data: {
				image: {
					title: img_info.title,
					description: img_info.description,
				},
			},
		}).done(() => {
		})
	}
