%h3 details
.changeBox
	- @details.each do | attr_name, attr_val|
		.changeProp
			= attr_name
			%input{
				type: 'text',
				value: attr_val,
				class: 'attr_edit_'+attr_name.to_s
			}/
= link_to  @image, method: :delete do
	.deleteButton
		Delete  @image.title
:javascript
	//setup before functions
	var typingTimer //timer identifier
	var doneTypingInterval = 2000 //time in ms
	$('.deleteButton').on('click', () => {
		sessionStorage.setItem('nextDestination', 'images')
	})

	$('[class^=attr_edit_]').on('keyup', () => {
		clearTimeout(typingTimer)
		typingTimer = setTimeout(updateImage, doneTypingInterval)
	})
	$('[class^=attr_edit_]').on('keydown', function () {
		clearTimeout(typingTimer)
	})

	function updateImage() {
		let img_info = {
			title: $('.attr_edit_title').val(),
			description: $('.attr_edit_description').val(),
			camera_maker: $('.attr_edit_exif_camera_maker').val(),
			camera_model: $('.attr_edit_exif_camera_model').val(),
			lens_model: $('.attr_edit_exif_lens_model').val(),
			focal_length: $('.attr_edit_exif_focal_length').val(),
			aperture: $('.attr_edit_exif_aperture').val(),
			exposure: $('.attr_edit_exif_exposure').val(),
			iso: $('.attr_edit_exif_iso').val(),
			gps_latitude: $('.attr_edit_exif_gps_latitude').val(),
			gps_longitude: $('.attr_edit_exif_gps_longitude').val(),
		}
		$.ajax({
			url: '/images/' + '#{@image.id}',
			type: 'PUT',
			data: {
				image: {
					title: img_info.title,
					description: img_info.description,
				},
			},
		}).done(() => {
			$.ajax('userpanels/show_images.js')
		})
	}
