!!! 5
%div#view
    %div#control
        %h3 categories
        %div= link_to "Images", userpanels_show_images_path, :remote => true 
        %div= link_to "Collections", userpanels_show_collections_path, :remote => true 
    %div#show
        %h3 Default Placeholder
    %div#details
        %div details