// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#rating {
    li ul {
        list-style: none;
        position: absolute;
        top: -1000em;
        left: 0px;
    }
    
    ul li a {
        display: inline;
    }
    
    
    li{
        display:inline-block;
    }

    text-align:left;
    .star-active {
        font-weight: bold
    }
    .star-inactive {
        font-weight: normal;
    }
}
