// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.widget {
	max-width: 100px;
	max-height: 100px;
	border: solid white 1px;
	box-shadow: 0 0px 4px 0px white;
}
.widget-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin-right: 2vw;
}

//Index

.grid-element.processing {
	box-sizing: border-box;
	border-color: hsl(34, 100%, 50%);
	border-style: dashed;
	border-width: 10px;
	background: repeating-linear-gradient(45deg, transparent, transparent 20px, #a6a6a6 20px, #a6a6a6 40px);
	background-clip: padding-box;
	a {
		opacity: 0.5;
	}
}

.grid {
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
	margin: 0 auto;

	height: 100%;
	display: grid;
	grid-template-columns: repeat(1, calc(100% / 3));
	grid-gap: 10px;
	overflow-x: hidden;
}

.grid li {
	width: calc((95vw - 10px) / 1);
	max-width: calc((95vw - 10px) / 1);
	height: calc((95vw - 10px) / 1);
	border-style: solid;
	border-color: white;
	border-bottom-width: 5px;
}

.grid li a img {
	max-width: 100%;
	z-index: 4;
	position: relative;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
}

.grid li a,
.grid li a img {
	display: block;
	width: 100%;
	cursor: pointer;
	height: 100%;
}
@media screen and (min-width: 900px) {
	.grid li {
		height: calc((100vw - 20px) / 3 - 2.5vw);
		width: calc(100% - 20px);
		max-width: calc(100% - 10px);
	}
	.grid {
		grid-template-columns: repeat(3,calc(100% / 3));
	}
}

.grid:after {
	content: '';
	display: block;
	clear: both;
}

// Show

#rating,
#score-area {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;

	bottom: 20px;
	left: 0;
	width: 100%;
}
.bi-star {
}

.bi-star-fill {
	color: gold;
}

.rating-star {
	font-size: 10vw;
}
@media screen and (min-width: 600px) {
	.rating-star {
		font-size: 50px;
	}
}

#main-image {
	img {
		height: auto;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-x: hidden;
		max-width: 85vw;
		max-height: 90vh;
	}
}

// Pagination (Left/Right arrow)
.pagination {
	position: fixed;
	width: 50px;
	height: 50px;
	line-height: 45px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
	color: #fff;
	font-size: x-large;
	font-weight: 400;
	border-radius: 50%;
	overflow: hidden;
}

#paginationL,
#paginationR {
	bottom: 50px;
	top: unset;
}

#paginationL {
	left: 20px;
}

#paginationR {
	right: 20px;
}

@media screen and (min-width: 600px) {
	#paginationL,
	#paginationR {
		top: 50vh;
		bottom: unset;
	}
}

#image-title {
	margin: 50px 0;
	display: flex;
	justify-content: center;
	color: gray;
	bottom: 20px;
	left: 0;
	width: 100%;
	font-size: 26px;
	font-weight: 500;
}

#description {
	padding: 10px;
	border-color: rgba(0, 0, 0, 0.5);
	border-width: 3px;
	border-style: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	#preview-text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}
#description,
.description-comment {
	max-width: 90vw;
}

.description-comment {
	margin-top: 50px;
}

@media screen and (min-width: 600px) {
	#description,
	.description-comment {
		max-width: 60vw;
	}
}

@media screen and (min-width: 900px) {
	#description {
		max-width: 580px;
	}
	.description-comment {
		max-width: 600px;
	}
}


