// Place all the styles related to the userpanels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#outer {
	display: flex;
	height: 100%;
}
#view {
	display: grid;
	grid-template-columns: 10vw 70vw 20vw;
	grid-template-rows: 1fr;
	color: #fff;
	flex-grow: 1;
	height: 100%;
	input {
		outline: none;
	}
}
#control {
	background-color: #2e2e2e;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	border-right: solid black 1px;
	a {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		height: 2em;
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 2em;
		margin-bottom: 0.5em;
		&:hover {
			background-color: #111;
		}
	}
	h3 {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.active {
		background-color: #4caf50;
		color: white;
	}
}

.box {
	flex: 1 1 auto;
}
#details {
	background-color: #2e2e2e;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	border-left: solid black 1px;
	padding: 0% 10%;
}
#show {
	background-color: #2e2e2e;
	overflow-y: auto;
}
.img-container,
.collection-container {
	display: grid;
	padding: 1vw;
	grid-gap: 50px;
	grid-template-columns: repeat(auto-fit, 100px);
}
#content {
	margin: 0px;
	height: 100%;
}
.notice,
.alert {
	display: none;
}
.deleteButton,
.proccessButton {
	height: fit-content;
	border: solid 1px red;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
	width: fit-content;
	padding: 3px;
	color: red;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	cursor: pointer;
}
.proccessButton {
	border-color: green;
	color: green;
}
#upload {
	width: 80%;
	max-width: unset;
	color: #000;
}
.widget-title {
	color: white;
	text-decoration: none;
}

.widget-container {
	text-decoration: none;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.hoverCard {
	width: 30vw;
	color: white;
	background: #2e2e2e;
	box-shadow: #00000050 1px 2px 4px 2px;
	height: 15vh;
	position: absolute;
	top: 10vh;
	left: 35vw;
}

.hoverCard input,
#details input[type='text'] {
	-webkit-appearance: none;
	background-color: #4f4f4f;
	border: solid 1px black;
	color: white;
	height: 2em;
	width: 100%;
}
.hoverCard input {
	width: unset;
}
.shadow {
	width: 100%;
	height: 100%;
	background: #000000a0;
	position: absolute;
	top: 0px;
}
.submitButton {
	border: green 1px solid;
	width: fit-content;
	padding: 5px;
	color: green;
	float: right;
	margin-top: 1em;
	margin-right: 25%;
	user-select: none;
	cursor: pointer;
}
.createText {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 1em;
}
.cross {
	float: right;
}
.cross:after {
	display: inline-block;
	font-size: 3vh;
	content: '\00d7';
}

#collectionButton {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	text-align: center;
	height: 120px;
}

#collectionButton:before {
	display: inline-block;
	font-size: 3vh;
	content: '\002b';
}

.collectionList,
.headerImages {
	display: flex;
	background: #0000009a;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	border: #000000 solid 1px;
	height: 150px;
	overflow-y: auto;
	resize: vertical;
	> div {
		margin: 1em 0px 0px 1em;
		display: flex;
		align-items: center;
	}
	> div:last-child {
		margin-bottom: 1em;
	}
}
.headerImages {
	height: 500px;
}
.infoBox,
.changeBox {
	display: grid;
	grid-template-columns: 50% 50%;
}

.padding-element {
	height: 50px;
	width: 100%;
	grid-column: 1/-1;
}
.changeBox textarea {
	padding: 2px;
	width: 100%;
	height: 3em;
	outline: none;
	border: none;
	border-radius: 0px;
	color: white;
	background-color: #4f4f4f;
	border: solid 1px black;
}
.fixHeight {
	height: calc(2em + 5px);
}

.doneButton,
.doneButton2 {
	height: calc(2em + 3px);
	width: calc(2em + 3px);
	display: block;
	position: relative;
	top: calc(-2em - 5px);
	background-color: green;
	cursor: pointer;
	line-height: 2em;
	border: 1px solid green;
	text-align: center;
	left: calc(100% - 2em + 1px);
}
textarea + .doneButton,
textarea + .doneButton2 {
	top: calc(-2em - 10px);
	left: calc(100% - 3em);
}
