// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.invitation_standing {
	color: red;
	font-size: 2em;
}

#usertable {
	border-collapse: collapse;
	width: 100%;
	td,
	th {
		border: 1px solid #ddd;
		padding: 8px;
	}
	.pending {
		background-color: rgb(224, 176, 131); // Beschwerden bitte schriftlich
	}

	tr.accepted:nth-child(even) {
		background-color: #f2f2f2;
	}

	tr.accepted:hover {
		background-color: #ddd;
	}

	tr.pending:hover {
		background-color: rgb(199, 159, 122);
	}

	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #04aa6d;
		color: white;
	}
}
