- img = image.image_file.variant(resize_to_fill: [Rails.configuration.x.image.preview_image_size, Rails.configuration.x.image.preview_image_size])
%li{:class => "grid-element" +(image.processed ? "" : " processing")}
    = link_to @collection.nil? ? image : collection_image_path(@collection, image) do
        = image_tag url_for(img)
