- img = image.image_file.variant(resize_to_fill: [250, 250])
= link_to userpanels_show_details_path(img: image.id), :remote => true  do
	.widget-container
		= image_tag url_for(img.processed), class:'widget'
		%span.widget-title= image.title
